body, main {
    display: flex;
    flex-direction: column;
    background-color: #15272d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: large;
    color: #94c647;
  }

  h3 {
    font-size: medium;
    color: #94c647;
  }

  nav {
    font-size: medium;
    color: #94c647;
  }

  li {
    font-size: small;
    color: #94c647;
  }

  footer {
    align-items: center;
    height: 75px;
    background-color: #000;
    color: #94c647;
    font-size: large;
  }

  form {
    background-color: #222526;
    display: flex;
    flex-direction: column;
  }

  form label {
    color: #94c647;
    font-size: small;
  }

  form input {
    color: #000;
    background-color: #EEF6F7;
    font-size: small;
  }

  form textarea {
    color: #000;
    background-color: #EEF6F7;
    font-size: small;
  }

  button {
    color: #EEF6F7;
    background-color: #309136;
    font-size: small;
    cursor: pointer;
  }

  header {
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: #000;
    color: #94c647;
  }

  header li {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    font-size: medium;
  }

  .index-nav {    
    width: 50%;
    height: 50%;
    align-self: center;
  }

  .index-nav li {
    font-size: larger;
    color: #94c647;
    display: flex;
    flex-direction: row;
    text-decoration: underline;
  }

  .email-credits-display {
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-self: center;
    justify-content: center;
    color: #94c647;
    background-color: #222526;
  }

  .disclaimer {
    background-color: #EEF6F7;
    color: #000;
    justify-content: center;
  }

  .create-listing-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    width: 60%;
    padding: 15px;
    background-color: #222526;
  }

  .create-listing-container label {
    color: #94c647;
    padding: 10px;
  }

  .create-listing-container input {
    background-color: #EEF6F7;
    padding: 10px;
    width: 60%;
    justify-content: center;
  }

  .create-listing-container button {
    width: 20%;
    justify-self: center;
    justify-content: center;
    padding: 15px;
  }

  .loginform-container {
    justify-self: center;
    justify-content: center;
    width: 60%;
    padding: 15px;
  }

  .loginform-container label {
    color: #94c647;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .loginform-container input {
    color: #000;
    background-color: #EEF6F7;
  }

  .loginform-container button {
    width: 25%;
  }

  .regform-container {
    justify-self: center;
    justify-content: center;
    width: 60%;
    padding: 15px;
  }

  .regform-container label {
    color: #94c647;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .regform-container input {
    color: #000;
    background-color: #EEF6F7;
  }

  .members-list {
    width: 90%;
    justify-self: center;
    justify-content: center;
  }

  .members-item {
    color: #94c647;
    background-color: #222526;
    width: 30%;
  }

  .members-item input {
    justify-self: center;
    width: 30%;
    background-color: #EEF6F7;
    color: #000;
  }

  .members-item button {
    justify-self: center;
    justify-content: center;
    width: 30%;
  }

  .update-avatar-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 60%;
    justify-content: center;
  }

  .update-avatar-form input {
    width: 50%;
    justify-self: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .update-avatar-form button {
    width: 25%;
    justify-content: center;
    justify-self: center;
  }

  .update-avatar-form label {
    color: #94c647;
    padding-left: 15px;
  }

  .search-form {
    justify-self: center;
    font-size: small;
  }

  .footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer-container p {
    padding-top: 1rem;
  }

  .logo {
    max-width: 150px;
    max-height: 75px;
  }

  .listing-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .listing-carousel button {
    color: #EEF6F7;
    background-color: #309136;
    justify-content: center;
    font-size: small;
  }

  .listing-carousel img {
    justify-self: center;
    max-width: 250px;
    max-height: 250px;
  }
  
  .carousel-images {    
    position: relative;
  }

  .listing-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 25%;
    height: auto;
  }

  .visitor-listings {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-self: center;
  }

  .listing-card {
    background-color: #222526;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    justify-self: center;
  }

  .listing-card p {
    color: #94c647;
  } 
